#result {
    height:  100px;
    width: 150px;
    display: flex;
    justify-content: center;    
    align-items: center;
    font-size: 30px;
    
};

#timer {
    font-size: 20px;
    color: red;
}


#life{
    padding-bottom: 10px;
}

#lifeC{
    padding-top: 10px;
}
 #userButtons button{
    color:rgb(247, 255, 2);
    background-color: blueviolet;
 }

 #computer button{
    color:rgb(0, 0, 0);
    background-color: rgba(137, 43, 226, 0.495);
 }
